input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  /*background-color: #e8e4e4;*/
}

/* PASEK GÓRNY */

.navbar .dropdown .dropdown-item {
  font-size: 1.4rem;
}
nav {
  /*background: #785c6c;*/
  background: #7a5785;
}
.dropdown-navbar .dropdown-item {
  font-size: 1.4rem;
}

.page-logo-icon {
  color: #f8643c;
}
.page-logo,
.page-logo {
  font-size: 3rem;
}
.page-logo-bold {
  font-weight: bold;
}

.form-select {
  height: 4rem;
  font-size: 1.4rem;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #c7c3c1;
  height: 1px;
}

.form-control {
  font-size: 1.4rem;
  height: 4rem;
  display: inline;
}

/* ICONS */

.card-action-icon{
  font-size: 2rem;
}
.observe-icon {
  font-size: 3rem;
  color: #f8643c;
}



form label {
  margin-top: 1.5rem;
}

.error {
  color: rgb(255, 0, 0);
  font-style: italic;
  font-size: 1.2rem;
}

.myplaceholder {
  color: gray;
}

/* BUTTONS */

.btn {
  height: 4rem;
  font-size: 1.6rem;
  /*display: inline;*/
  color: white;
}

.button-submit {
  background-color: #f8643c;
  border-color: #f8643c;
}
.button-submit:hover {
  background-color: #ff8363;
  border-color: #ff8363;
  color: white;
  font-weight: bold;
}

.button-cancel {
  background-color: #b4abbd;
  border-color: #b4abbd;
}
.button-cancel:hover {
  background-color: #c3bcca;
  border-color: #c3bcca;
  color: white;
  font-weight: bold;
}

.button-delete {
  background-color: #b63041;
  border-color: #a92f3c;
}
.button-delete:hover {
  background-color: #d75766;
  border-color: #e16371;
  color: white;
  font-weight: bold;
}

body{
  background-image: url("../img/background-purple-light-tiled-blur.png");
  background-image: url("../img/marble-bg-light.png");
  background-position: center;
  background-size: cover;
}

/* QUANTITY */

.button-quantity {
  height: 4rem;
  font-size: 1.6rem;
  color: black;
}

.button-quantity:hover{
  color: white;
  background-color: #7A5785;
}

#quantity, .quantity{
  min-width: 50px;
}

.offer-title-card {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

