.user-icon{
    width: 45px;
    height: 100%;
    border-radius: 50%;
}

.message-text{
    font-size: 90%;
    font-weight: 400;
    padding: 1rem !important;
    margin-bottom: 0.25rem !important;
    border-radius: 0.25rem !important;
}
.sender-message-text{
    color: #f8f9fa !important;
}