.user-icon{
    width: 45px;
    height: 100%;
    border-radius: 50%;
}

.sender-message-text{
    font-size: 80%;
    font-weight: 400;
    padding: 1rem !important;
    margin-bottom: 0.25rem !important;
    color: #f8f9fa !important;
    border-radius: 0.25rem !important;
}